{% load static %}

{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/images/trophy.png" rel="icon" type="image/png" >
    <title>𝐻𝑜𝓂𝑒 - 𝒜𝒹𝓋𝑒𝓃𝑔𝒾𝓈𝓈 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
crossorigin="anonymous">    
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
</head>
<body class="m-5" style="background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);">
    <header>
        <div class="header_inner">
            <form action="/search" method="POST">
            {% csrf_token %}
            <div class="left-side">
                <!-- Logo -->
                <div id="logo" class=" uk-hidden@s">
                    <a href="home.html">
                        <b><h1 style="text-transform: uppercase;">✴  🎀  𝒜𝓌𝓌𝒶𝓇𝒹𝓈  🎀  ✴</h1></b>
                    </a>
                </div>
                    <input type="text" name="username" placeholder="Search for username..">&nbsp; &nbsp;
                    <button type="submit"><i class="fa fa-search fa-1x"></i></button>
            </div>
            </form>
            <div class="right-side lg:pr-4">
                        <!-- profile -->
                        <a href="#">
                            <img src="{{user_profile.profileimg.url}}" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="/settings"> Account setting </a> </li>
                                <li><a href="logout"> Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>
            
            
 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
   </body>
</html>